form {
    border: 1px solid #ccc; 
    padding: 20px;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.header {
align-items: center;
display: flex;
margin-bottom: 20px;
color:rgb(109, 50, 16);


}






.apartado {

    color: rgb(187, 53, 53);
    font-size: 20px;
}

  
